.primary-action {
	padding: 8px 12px 8px 8px;
	border-radius: 30px;
	background: #2e3238;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
	.cta-icon {
		background-color: #ffffff;
		padding: 15px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.secondary-action {
	background: transparent;
	border-color: transparent;
	color: #ffffff;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	.cta-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.dark {
		color: #2e3238;
	}
}
.section-badge {
	background: #ebf1fd;
	color: #3571ff;
	font-size: 14px;
	border-radius: 100px;
	padding: 12px 10px;
	margin-bottom: 12px;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
	&.secondary {
		background: #ffffff;
		color: #2e3238;
		border: 1px solid #d8d9dd;
	}
}
.main-title {
	color: #2e3238;
	font-size: 64px;
	line-height: 1.1;
	margin-bottom: 24px;
	text-align: center;
	font-weight: normal;
	span {
		color: #a9acb2;
		display: block;
	}
	&.blue {
		span {
			color: #9277ea;
		}
	}
}
.sub-title {
	color: #4d535d;
	font-size: 18px;
	line-height: 1.54;
	text-align: center;
	max-width: 700px;
	font-weight: normal;
	margin-bottom: 75px;
}
@media (max-width: 991px) {
	.main-title {
		font-size: 36px;
	}
	.sub-title {
		font-size: 16px;
		margin-bottom: 40px;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
