.sectionRoot {
	display: flex;
	background: #fafbfc;
	width: 100%;
	position: relative;
	padding-left: 150px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding-left: 20px;
	}
}

.sidebarRoot {
	position: relative;
	padding: 3rem 0;
	background: transparent;
	.dot {
		position: absolute;
		left: 33px;
		top: 0;
		width: 10px;
		height: 10px;
		background: #3571ff;
		border-radius: 100%;
		z-index: 2;
	}
}

.verticalLine {
	position: absolute;
	left: 36px;
	top: 0;
	width: 3px;
	height: 100%;
	background: #eceef4;
	border-radius: 1.5px;
	z-index: 1;
}

.activeBar {
	position: absolute;
	left: 36px;
	width: 2px;
	height: 263px;
	background: #2990ea;
	border-radius: 1.5px;
	z-index: 2;
	transition: top 0.3s cubic-bezier(0.7, 0.33, 0.31, 0.94);
	background: linear-gradient(0deg, rgba(53, 113, 255, 0) 0%, rgba(53, 113, 255, 1) 47%, rgba(53, 113, 255, 0) 100%);
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.list {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-left: 40px;
	min-width: 300px;
}

.item {
	// height: 38px;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #c8cacf;
	padding: 0 1rem;
	background: none;
	border: none;
	outline: none;
	border-radius: 7px 0 0 7px;
	cursor: pointer;
	transition: color 0.22s, background 0.18s;
	margin-bottom: 3px;
	text-align: left;
	font-family: "neue-montreal", Arial, Helvetica, sans-serif;
	&:hover {
		font-weight: 500;
	}
}

.active {
	color: #2e3238;
	background: #f6f8fa;
	font-weight: 500;
}

.contentArea {
	flex: 1 1 0px;
	padding: 3rem 0 3.5rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	p {
		font-size: 24px;
		font-weight: normal;
		color: #2e3238;
		position: relative;
		top: -20px;
		span {
			color: #8b8f96;
		}
		@media screen and (max-width: 1299px) {
			padding-top: 20px;
		}
	}
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
.sectionPanel {
	background: #fff;
	border-radius: 28px;
	padding: 50px 50px 30px;
}
.imgTitle {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 15px;
	h3 {
		font-weight: normal;
		font-size: 32px;
	}
}
@media (min-width: 1300px) {
	.efficiencyImage {
		position: relative;
		top: -103px;
		left: 196px;
		right: 0;
		max-width: 78% !important;
	}
}

.customDashboards {
}
.securityImage {
}
.imageWrapper {
	position: relative;
}
