.footerRoot {
	width: 100%;
	background: #fff;
	padding: 105px 40px 20px 40px;
	display: flex;
	flex-direction: column;
	border-top: 1.1px solid #f1f1f4;
}

.upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3vw;
	margin: 0 auto;
	width: 95vw;

	@media (max-width: 900px) {
		flex-direction: column;
		gap: 2.9rem;
		align-items: center;
	}
}

.leftCol {
	max-width: 43vw;
	min-width: 260px;
	padding: 45px 0;
	font-weight: 500;
}

.ctaRow {
	display: flex;
	align-items: center;
	gap: 1.3rem;
	margin: 24px 0;
}

.heroBtn {
	display: inline-flex;
	align-items: center;
	background: #23253b;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.74em 2.2em;
	border-radius: 2em;
	border: none;
	cursor: pointer;
	margin-right: 0.4em;
	transition: background 0.15s;
	box-shadow: 0 3px 24px #23253b16;
}
.heroBtn:hover {
	background: #3868cd;
}

.secondaryLink {
	color: #23253b;
	font-size: 0.99rem;
	font-weight: 500;
	cursor: pointer;
	background: none;
	border: none;
	text-decoration: none;
	padding: 0.36em 0.2em;

	&:hover {
		text-decoration: underline;
	}
}

.divider {
	border-bottom: 1px dashed #d8d9dd;
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.rightColWrap {
	display: flex;
	flex: 1;
	justify-content: space-between;
	gap: 2vw;
	max-width: 700px;
	min-width: 260px;
	border-left: 1px dashed #d8d9dd;
	padding: 76px;
	@media (max-width: 650px) {
		flex-direction: column;
		gap: 1.7em;
	}
}

.colTitle {
	font-size: 18px;
	color: #d8d9dd;
	font-weight: 500;
	margin-bottom: 24px;
}
.linkList,
.contactList,
.socialList {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.09rem;
}
.linkItem {
	font-size: 16px;
	margin-bottom: 16px;
	color: #2e3238;
	cursor: pointer;
	font-weight: 500;
	&:hover {
		color: #3168c5;
	}
}

.contactList li {
	color: #4d535d;
	font-size: 18px;
	margin-bottom: 12px;
}

.socialList {
	display: flex;
	gap: 0.65em;
	margin-top: 0.7em;
}
.socialBtn {
	display: inline-block;
}

.lower {
	width: 100%;

	display: flex;
	justify-content: space-between;
	color: #989aae;
	font-size: 0.99rem;
	letter-spacing: 0em;
	flex-wrap: wrap;
	gap: 2em;
	.legalLinks {
		display: flex;
		flex-wrap: wrap;
		gap: 87px;
	}
}
.logoBlurSection {
	position: relative;
	.logoBlur {
		font-size: 202px;
		font-weight: normal;
		color: #23253b;
		line-height: 1.1;
		letter-spacing: -2px;
		margin-bottom: 62px;
		position: relative;
		width: fit-content;
		display: block;
	}
	.blurImage {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.ctAction {
	padding: 8px 12px 8px 8px;
	border-radius: 30px;
	background: #2e3238;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;

	.ctaIcon {
		background-color: #ffffff;
		padding: 15px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.secondaryCta {
	background: transparent;
	border-color: transparent;
	color: #2e3238;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	.ctaIcon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
