.providers {
	background: #fafbfc;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.badge {
		background: #ebf1fd;
		color: #3571ff;
		font-size: 14px;
		border-radius: 100px;
		padding: 12px 10px;
		margin-bottom: 12px;
		text-align: center;
		width: fit-content;
	}

	.heading {
		color: #2e3238;
		font-size: 64px;
		line-height: 1.1;
		margin-bottom: 24px;
		text-align: center;
		font-weight: normal;
		span {
			color: #a9acb2;

			display: block;
		}
	}

	.subheading {
		color: #4d535d;
		font-size: 18px;
		line-height: 1.54;
		text-align: center;
		max-width: 700px;
		font-weight: normal;
		margin-bottom: 75px;
	}
	.iconBubble {
		position: absolute;
		// width: 64px;
		// height: 64px;
		// background: rgba(255, 255, 255, 0.8);
		border-radius: 18px;
		// box-shadow: 0 4px 24px #dbe6f7;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 1299px) {
			display: none;
		}
	}

	.iconBubble {
		transform: scale(0.75);
	}

	/* Example positions for 6 icons (adjust for your layout) */
	.icon1 {
		top: 70px;
		left: 200px;
	}
	.icon2 {
		top: 242px;
		right: 268px;
	}
	.icon3 {
		top: 70px;
		right: 130px;
	}
	.icon4 {
		top: 260px;
		left: 80px;
	}
	.icon5 {
		top: 242px;
		right: 34px;
	}
	.icon6 {
		top: 260px;
		left: 262px;
	}
}

.metricsPanel {
	background: #fff;
	border-radius: 32px;
	position: relative;
	width: 90%;
	max-width: 1230px;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 900px) {
	.metricsPanel {
		padding: 1.2rem 0.5rem;
		gap: 1rem;
	}
}
