.sectionRoot {
	width: 100%;
	padding: 0 0 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
}

.heading {
	max-width: 780px;
	text-align: center;
	font-family: inherit;
	font-size: 64px;
	font-weight: 600;
	color: #23253b;
	letter-spacing: -1px;
	line-height: 1.09;
	margin-bottom: 24px;
	font-weight: normal;
	.highlight {
		color: #9277ea;
		font-weight: 500;
	}
}

.subdesc {
	max-width: 420px;
	text-align: center;
	color: #565966;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.47;
	margin-bottom: 75px;
}
