:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}
@font-face {
	font-family: "neue-montreal";
	src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2"),
		url("/fonts/NeueMontreal-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "neue-montreal";
	src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2"), url("/fonts/NeueMontreal-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: "neue-montreal", Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.main-heading {
	color: #2e3238;
	font-size: 64px;
	line-height: 1.1;
	margin-bottom: 24px;
	text-align: center;
	font-weight: normal;
}
.badge {
	background: #ebf1fd;
	color: #3571ff;
	font-size: 14px;
	border-radius: 100px;
	padding: 12px 10px;
	margin-bottom: 12px;
	text-align: center;
	width: fit-content;
}
.Providersection_providers__50t56 {
	[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
		transform: scale(0.75) !important;
	}
}
