.hero {
	position: relative;
	width: 100vw;

	min-height: 400px;
	display: flex;
	align-items: stretch;
	background: #e6ecf6;
	max-height: 1300px;
	@media screen and (min-height: 625px) {
		height: 100vh;
	}
	.backgroundImage {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	.overlay {
		position: absolute;
		inset: 0;
		background: rgba(26, 46, 91, 0.2); // subtle bluish overlay
		z-index: 2;
	}

	.content {
		position: relative;
		z-index: 3;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		height: 100%;
		width: 100%;
		max-width: 45rem;
		padding: 140px 40px 40px;
		gap: 48px;
		@media (max-width: 700px) {
			max-width: 100%;
			gap: 20px;
		}
	}

	.title {
		font-size: 80px;
		font-weight: normal;
		line-height: 95%;
		color: #ffffff;
		@media (max-width: 700px) {
			font-size: 36px;
			line-height: 46px;
			br {
				display: none;
			}
		}
	}

	.subtitle {
		font-size: 24px;
		line-height: 1.7;
		color: #ffffff;
		@media (max-width: 700px) {
			br {
				display: none;
			}
			line-height: 1.5;
		}
	}

	.ctaButton {
		display: flex;
		align-items: center;
		background: #fff;
		color: #13245c;
		padding: 0.7rem 2rem;
		border: none;
		border-radius: 2rem;
		font-weight: bold;
		font-size: 1.1rem;
		cursor: pointer;
		transition: box-shadow 0.2s;

		&:hover {
			box-shadow: 0 0 0.43rem #b7d6fd;
		}
	}
}
.ctAction {
	padding: 8px 12px 8px 8px;
	border-radius: 30px;
	background: #2e3238;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;

	.ctaIcon {
		background-color: #ffffff;
		padding: 15px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.ctAction {
	padding: 8px 12px 8px 8px;
	border-radius: 30px;
	background: #2e3238;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;

	.ctaIcon {
		background-color: #ffffff;
		padding: 15px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.secondaryCta {
	background: transparent;
	border-color: transparent;
	color: #ffffff;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	.ctaIcon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.ctas {
	display: flex;
	align-items: center;
	gap: 16px;
	flex-wrap: wrap;
}
